.jumbotron,
.card-body,
.container,
.site-header {
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
    font-weight: bold;
}

.jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53C0FB;
    background: url('../img/cover_backBlueEshop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
    font-size: 38px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.site-header a {
    color: white;
    transition: ease-in-out color .15s;
}

.light-text {
    color: white;
}

.site-header .dropdown-menu a {
    color: black;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinner-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1021;
    display: none;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: inherit;
}

.checked {
    color: orange;
}

.bg-7 h1 {
    position: relative;
}

.bg-7 h1::after {
    content: "Productos";
    font-size: 8rem;
    letter-spacing: 0px;
    background-size: 150%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -moz-text-stroke-width: 0;
    -webkit-text-stroke-width: 0;
    position: initial;
    left: 8px;
    right: 0;
    top: 6px;
    z-index: -1;
    animation-name: pulse-delay;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulse-delay {
    0% {
        background: -webkit-linear-gradient(315deg, #fcdf8a, #f38381);
        background: -o-linear-gradient(315deg, #fcdf8a 0, #f38381 100%);
        background: linear-gradient(135deg, #fcdf8a, #f38381);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10% {
        background: -webkit-linear-gradient(315deg, #c3ec52, #0ba29d);
        background: -o-linear-gradient(315deg, #c3ec52 0, #0ba29d 100%);
        background: linear-gradient(135deg, #c3ec52, #0ba29d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20% {
        background: -webkit-linear-gradient(315deg, #13f1fc, #0470dc);
        background: -o-linear-gradient(315deg, #13f1fc 0, #0470dc 100%);
        background: linear-gradient(135deg, #13f1fc, #0470dc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30% {
        background: -webkit-linear-gradient(315deg, #ce9ffc, #7367f0);
        background: -o-linear-gradient(315deg, #ce9ffc 0, #7367f0 100%);
        background: linear-gradient(135deg, #ce9ffc, #7367f0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    40% {
        background: -webkit-linear-gradient(315deg, #f36265, #961276);
        background: -o-linear-gradient(315deg, #f36265 0, #961276 100%);
        background: linear-gradient(135deg, #f36265, #961276);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: -webkit-linear-gradient(315deg, #184e68, #57ca85);
        background: -o-linear-gradient(315deg, #184e68 0, #57ca85 100%);
        background: linear-gradient(135deg, #184e68, #57ca85);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60% {
        background: -webkit-linear-gradient(315deg, #fad961, #f76b1c);
        background: -o-linear-gradient(315deg, #fad961 0, #f76b1c 100%);
        background: linear-gradient(135deg, #fad961, #f76b1c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    70% {
        background: -webkit-linear-gradient(315deg, #f2d50f, #da0641);
        background: -o-linear-gradient(315deg, #f2d50f 0, #da0641 100%);
        background: linear-gradient(135deg, #f2d50f, #da0641);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    80% {
        background: -webkit-linear-gradient(315deg, #f54ea2, #ff7676);
        background: -o-linear-gradient(315deg, #f54ea2 0, #ff7676 100%);
        background: linear-gradient(135deg, #f54ea2, #ff7676);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90% {
        background: -webkit-linear-gradient(315deg, #0ff0b3, #036ed9);
        background: -o-linear-gradient(315deg, #0ff0b3 0, #036ed9 100%);
        background: linear-gradient(135deg, #0ff0b3, #036ed9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: -webkit-linear-gradient(315deg, #002421, #6078ea);
        background: -o-linear-gradient(315deg, #17ead9 0, #6078ea 100%);
        background: linear-gradient(135deg, #0b1b1a, #6078ea);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}